body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.login
  h1
    text-align: center
  p
    text-align: center

.events
  .table
    border-bottom: 1px solid #DDD
    td
      vertical-align: middle

  .controls
    text-align: right

  h3
    font-weight: normal
