.container
  .row
    .span12
      h2 Create a Hackathon
      p Use the form below to create your Hackathon Event.  (* required fields)
      form.form-horizontal.well

        include hackathonForm

        .form-actions
          button(type='submit').btn.btn-primary Create Hackathon
          | &nbsp;
          button(type='button').btn.cancel Cancel
